
@font-face {
    font-family: BasisGrotesquePro-Bold;
    src: url(fonts/BasisGrotesquePro-Bold.woff);
}
@font-face {
    font-family: BasisGrotesquePro-Bold;
    src: url(fonts/BasisGrotesquePro-Bold.woff2);
}
@font-face {
    font-family: BasisGrotesquePro-Medium;
    src: url(fonts/BasisGrotesquePro-Medium.woff);
}
@font-face {
    font-family: BasisGrotesquePro-Medium;
    src: url(fonts/BasisGrotesquePro-Medium.woff2);
}
@font-face {
    font-family: BasisGrotesquePro;
    src: url(fonts/BasisGrotesquePro-Regular.woff);
}
@font-face {
    font-family: BasisGrotesquePro;
    src: url(fonts/BasisGrotesquePro-Regular.woff2);
}
@font-face {
    font-family: BasisGrotesquePro;
    src: url(fonts/BasisGrotesquePro-Light.woff);  
}
@font-face {
    font-family: BasisGrotesquePro;
    src: url(fonts/BasisGrotesquePro-Light.woff2);  
}

body{
    max-width: 1440px;
    margin: 0;
}
.header {
    display: flex;
    align-items: center;
    padding: 0px;  
}
 .navBlock{
    display: flex;
    align-items: center;
  }
   
.logo {
    margin-top: 40px;
    margin-left: 80px;
    padding: 0;

}
.subject {
    margin-left: 10px;
    margin-right: 40px;  
    top: 40px;
}
.subject_a {
    color: rgb(142, 139, 139);
    font-family: 'BasisGrotesquePro';
}
.navBlock {
    top: 40px;
    padding: 0;
    display: flex;
}

ul {
    display: flex;
}

li {
    font-family: 'BasisGrotesquePro';
    font-size: 16px;
    list-style-type: none;
    text-transform: uppercase;
    padding: 0;
    margin-right: 38px;
    margin-top: 0;
    color: black;

}
a {
    text-decoration: none;
    color: black;
}

.stories {
    margin-right: 0px;
    padding: 0;
}
.ukr {
    margin-left: 310px;
    margin-right: 0;
    padding: 0;
    color: blue;
}

main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 123vh 123vh 67vh 67vh;
}
.learn, .orange, .people {
  grid-column: 1 / 3;
}
.boy, .education {
  grid-column: 3 / 5;
}
.inequality {
    grid-column: 1 / 3;
}
.problematics {
    grid-column: 3 / 5;

}

h3 {
    font-size: 16px;
    text-transform: uppercase;
    color: blue;
    font-family: 'BasisGrotesquePro-Medium';
    font-weight: 900;
  }
  
  h5 {
      width: 20vw;
      height: 6vh;
      margin-top: 50px;
      color: rgb(94, 92, 92);
      font-family: 'BasisGrotesquePro-Light';
      font-weight: 100;
  }
  button {
    width: 213px;
    height: 55px;
    margin-top: 80px;
    background-color: rgb(37, 37, 244);
    color: white;
}
.learn {
    padding-left: 14vw;
    padding-top: 24vh;
 
}
 .education {
    padding-left: 4vw;
    padding-top: 24vh;
}
.people {
    padding-left: 6vw;
    padding-top: 10vh;
}
.schools, .participants, .partners{
    padding-left: 4vw;
    padding-top: 6vh;   
}
.participants {
    background-color: blue;
}
.inequality {
    padding-top: 14vh;
    padding-left: 10vw;
}
.problematics{
    padding-top: 10vh;
    padding-left: 4vw;
}

.learn h1{
    margin-top: 6vh;
    font-size: xx-large;
    font-family: 'BasisGrotesquePro-Bold';
    font-weight:800 ;
}
.education h1, .people h1 {
    font-family: 'BasisGrotesquePro-Bold';
    font-weight: 500;
    
}
.schools h3 {
    color: black;
    padding-bottom: 30vh;
}
.education h5, .learn h5 {
    font-family: 'BasisGrotesquePro';
    font-weight: 100; 
}
.schools h5{
    font-family: 'BasisGrotesquePro';
    font-weight: 100;
    font-weight: 100;
    color: rgb(55, 53, 53);
    width: 12vw;
    height: 10vh;
}
.participants h3 {
    color: white;
}
h3.thin {
    font-family: 'BasisGrotesquePro';
    font-weight: 100;
}
.participants h5 {
    font-family: 'BasisGrotesquePro';
    font-weight: 100;
    width: 12vw;
    height: 12vh;
    color: rgb(244, 239, 239);
    margin-top: 35vh;
}
h3.thin-partners {
    font-family: 'BasisGrotesquePro';
    font-weight: 100;
    color: rgb(68, 67, 67);
}
.partners h3 {
    color: rgb(14, 13, 13);
}
.partners h5 {
    font-family: 'BasisGrotesquePro';
    font-weight: 100;
    color: rgb(55, 53, 53);
    margin-top: 35vh;
    width: 18vw;

}
.inequality h5 {
    font-family: 'BasisGrotesquePro';
}
.inequality .icon {
    display: inline-block;
    margin-right: 0;
    margin-top: 32vh;
    margin-left: 35vh;
}
.inequality .icon-1-2 {
    display: inline-block;
    margin-left: 2vw;
    margin-top: 0;
}
.inequality .children {
margin-left: 16vw;
font-family: 'BasisGrotesquePro';
font-weight: 100;
font-size: 14px;
width: 22vw;
}
.problematics h1 {
    text-transform: uppercase;
    font-family: 'BasisGrotesquePro-Bold';
    font-weight: 500;
    width: 25vw;
}
.problematics h5 {
    padding-bottom: 6vh;
    font-family: 'BasisGrotesquePro-Light';
    width: 25vw;
}

 .icon-hat {
    display: inline-block;
    margin-top: 10vh;

}
img.icon-4 {
    display: inline-block;
}
.problematics h5 {
    font-family: 'BasisGrotesquePro';
    font-size: 14px;
    font-weight: 100;
    color: rgb(39, 38, 38);
    margin-top: 2vh;

}




